.ovirt-provider-toplevel-switch {
    position: absolute;
    top: 0%;
    right: 1em;
}

.ovirt-provider-sublevel-switch {
    float: right;
    padding-right: 1em;
}

.ovirt-provider-crop {
    overflow: hidden;
    text-overflow: ellipsis;
    width: inherit;
}

.ovirt-provider-max-width-20 {
    max-width: 20%;
}

.ovirt-provider-vdsm {
    padding: 1em;
}

.ovirt-provider-vdsm-menu {
    float:right;
}

.ovirt-provider-vdsm-inline-block {
    display: inline-block;
}

.ovirt-provider-vdsm-menu-buttons {
    display: inline-block;
    padding: 2px;
}

.ovirt-provider-vdsm-editor {
    width:100%;
    min-height: 300px;
}

.ovirt-provider-migrateto-combo {
    max-width: 25em;
}

.ovirt-provider-cluster-vms-actions {
    min-width: 9em;
}

.ovirt-provider-cluster-vms-state {
    min-width: 6em;
}

.ovirt-provider-login-in-progress {
    display: inline-flex;
    padding: 1em;
    position: absolute;
    top: 0px;
    right: 50%;
}

.ovirt-provider-listing-top-column {
    width: 33%;
}